<p style="color: green"><%= notice %></p>

<h1>Levels</h1>

<div id="levels">
  <% @levels.each do |level| %>
    <%= render level %>
  <% end %>
</div>
<div id="scores">
  <% @scores.each do |score| %>
    <%= score.player %>
    <%= score.seconds %>
  <% end %>
</div>

